:root {
    --azul-blockbuster: #0E3FA9;
    --amarillo-titulos: #f6d634;
    --fondo-general: #c2d4fd; /*c2d4fd*/
    --texto-claro: #c2d4fd;
    --texto-oscuro: #071f53;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--fondo-general);
}

/*Estilos para el título del encabezado */
header h1 {
    text-align: center;
    color: var(--amarillo-titulos);
    font-family: 'Segpoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px orangered;
}

/*Estilos para el contenedor del formulario */
.caja-configuracion{
    margin: 2rem;
    border: 5px solid var(--azul-blockbuster);
    text-align: center;
    border-radius: 12px;
}

header {
    display: block;
    width: 100%;
    padding: 7px;
    text-align: center;
    background-color: var(--azul-blockbuster);
}

.table-container {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem;
}

.table-container table {
    border: 5px solid var(--azul-blockbuster);
    border-radius: 12px;
    width: 35%;
    margin: 1rem;
}

table th, table td {
    color: var(--texto-oscuro);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid var(--azul-blockbuster);
    border-radius: 1px;
    padding: 0.5rem;
    text-align: center;
}

.table-genero {
    border: 1px solid var(--azul-blockbuster);
    border-radius: 12px;
    width: 50%;
    margin: 1rem;
    align-self: center;
}

.table-container-genero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 1.5rem auto;
}

#controles-genero {
    display: flex;
    gap: 10px; /* Da una pequeña separación entre los inputs y el botón */
    justify-content: center;
    align-items: center;
}

.button-agg{
    background-color: var(--azul-blockbuster);
    color: var(--texto-claro);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

/*Función para mostrar las tablas generadas */
.oculto {
    display: none;
}

/*Centra la tabla matriz */
#vista-matriz table {
    margin: 20px auto; 
}